openapi: 3.0.0
info:
  title: ShipexIndia API Guide
  version: 1.0.0
servers:
  - url: https://api.shipexindia.com
paths:
  /v1/api/external/createOrder:
    post:
      tags:
        - default
      summary: Create Order
      description: >-
        **Endpoint:**  

        `POST https://api.shipexindia.com/v1/api/external/createOrder`


        **Description:**


        This API is used to **create a new shipment order**. It requires sender
        (pickup) details, receiver details, product information, package
        dimensions, and payment details. A valid JWT token (from the Generate
        Token API) must be passed in the request header.


        **Headers:**


        - `Content-Type: application/json`
            
        - `Authorization: Bearer`
            

        Response (Success 200):


        {  

        "success": true,  

        "message": "Order created successfully.",  

        "data": {  

        "orderId": 566281,  

        "clientOrderId": 8984810,  

        "status": "new"  

        }  

        }


        400 Bad Request


        {  

        "success": false,  

        "message": "Validation error",  

        "details": "Phone number must be exactly 10 digits"  

        }


        401 Unauthorized


        {  

        "success": false,  

        "message": "Invalid or expired token"  

        }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                shipmentId: 8984810
                pickupAddress:
                  contactName: John Doe
                  email: john@example.com
                  phoneNumber: '9876543201'
                  address: 123 Main St
                  pinCode: '560002'
                  city: Bangalore
                  state: Karnataka
                receiverAddress:
                  contactName: Jane Smith
                  email: jane@example.com
                  phoneNumber: '9123456781'
                  address: 456 Market Ave
                  pinCode: '400002'
                  city: Mumbai
                  state: Maharashtra
                productDetails:
                  - id: '1'
                    quantity: 2
                    name: T-Shirt
                    sku: TSHIRT123
                    unitPrice: '499'
                packageDetails:
                  deadWeight: 0.5
                  applicableWeight: 0.6
                  volumetricWeight:
                    length: 10
                    width: 15
                    height: 5
                    calculatedWeight: 0.6
                paymentDetails:
                  method: COD
                  amount: 998
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjoiNjg3N2NkODE0YjEzMGIzZjI1YTY0NzExIiwiZW1haWwiOiJiaGFuamFiaWpheWtldGFuQGdtYWlsLmNvbSIsImZ1bGxuYW1lIjoiQmlqYXkga2V0YW4gQmhhbmphIiwia3ljIjp0cnVlLCJpc0FkbWluIjp0cnVlLCJpc0VtcGxveWVlIjpmYWxzZX0sImlhdCI6MTc1NjEwOTM2MywiZXhwIjoxNzU2MTk1NzYzfQ.vfbrr_f0i7tifdTkAw2LHp3LaORQkOMsGfXI-GEiAK0
      responses:
        '201':
          description: Created
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.26.3
            Date:
              schema:
                type: string
                example: Mon, 25 Aug 2025 13:06:35 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '121'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri 'self';font-src 'self' https:
                  data:;form-action 'self';frame-ancestors 'self';img-src 'self'
                  data:;object-src 'none';script-src 'self';script-src-attr
                  'none';style-src 'self' https:
                  'unsafe-inline';upgrade-insecure-requests
            Cross-Origin-Opener-Policy:
              schema:
                type: string
                example: same-origin
            Cross-Origin-Resource-Policy:
              schema:
                type: string
                example: same-origin
            Origin-Agent-Cluster:
              schema:
                type: string
                example: '?1'
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: integer
                example: '0'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"79-66RKSwcCU6KqGolwteHMFQB77BY"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
          content:
            text/plain:
              schema:
                type: string
              example: |-
                {
                    "success": true,
                    "message": "Order created successfully.",
                    "data": {
                        "orderId": 485888,
                        "clientOrderId": 8984810,
                        "status": "new"
                    }
                }
  /v1/api/external/generateToken:
    post:
      tags:
        - default
      summary: Generate Token
      description: >-
        **Endpoint:**  

        `POST https://api.shipexindia.com/v1/api/external/generateToken`


        **Description:**


        This API authenticates a user using their email and password, and
        returns a **JWT token**. The token must be included in the
        `Authorization` header (`Bearer` ) for all further requests.


        **Headers:**


        - `Content-Type: application/json`
            

        Request Body:


        {  

        "email": "[test@gmail.com](https://mailto:test@gmail.com)",  

        "password": "test@1212"  

        }


        Response (Success 200):


        {  

        "success": true,  

        "message": "Token generated successfully",  

        "data": {  

        "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6..."  

        }  

        }


        Error Responses:


        - 401 Unauthorized
            

        {  

        "success": false,  

        "message": "Invalid email or password"  

        }


        - 500 Internal Server Error
            

        {  

        "success": false,  

        "message": "Something went wrong"  

        }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                email: test@gmail.com
                password: Test@1234
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.26.3
            Date:
              schema:
                type: string
                example: Mon, 25 Aug 2025 08:09:23 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '412'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri 'self';font-src 'self' https:
                  data:;form-action 'self';frame-ancestors 'self';img-src 'self'
                  data:;object-src 'none';script-src 'self';script-src-attr
                  'none';style-src 'self' https:
                  'unsafe-inline';upgrade-insecure-requests
            Cross-Origin-Opener-Policy:
              schema:
                type: string
                example: same-origin
            Cross-Origin-Resource-Policy:
              schema:
                type: string
                example: same-origin
            Origin-Agent-Cluster:
              schema:
                type: string
                example: '?1'
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: integer
                example: '0'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"19c-K42LzenfK9/n5lHa9f1EyacDdxw"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
          content:
            text/plain:
              schema:
                type: string
              example: |-
                {
                    "success": true,
                    "message": "Token generated successfully",
                    "data": {
                        "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjoiNjg3N2NkODE0YjEzMGIzZjI1YTY0NzExIiwiZW1haWwiOiJiaGFuamFiaWpheWtldGFuQGdtYWlsLmNvbSIsImZ1bGxuYW1lIjoiQmlqYXkga2V0YW4gQmhhbmphIiwia3ljIjp0cnVlLCJpc0FkbWluIjp0cnVlLCJpc0VtcGxveWVlIjpmYWxzZX0sImlhdCI6MTc1NjEwOTM2MywiZXhwIjoxNzU2MTk1NzYzfQ.vfbrr_f0i7tifdTkAw2LHp3LaORQkOMsGfXI-GEiAK0"
                    }
                }
  /v1/api/external/pincodeServiceability:
    post:
      tags:
        - default
      summary: Pincode Serviceability
      description: >-
        **Endpoint:**  

        `GET https://api.shipexindia.com/v1/api/external/pincodeServiceability`


        **Description:**  
          
        This API checks whether a shipment can be serviced between a given
        **pickup pincode** and **delivery pincode**, based on weight and payment
        type.


        **Headers:**


        - `Content-Type: application/json`
            
        - `Authorization: Bearer`  
              
            Success Response (200 OK):  
              
            {  
            "status": "success",  
            "message": "Service available for these pincodes.",  
            "serviceable": true,  
            "pincodes": {  
            "pickup": "756036",  
            "delivery": "400001"  
            }  
            }
            

        Failure Response (400 Bad Request):  
          
        {  

        "status": "failure",  

        "message": "Invalid request data",  

        "errors": \[  

        "Pincode must be exactly 6 digits."  

        \]  

        }


        **Error Responses:**


        - **401 Unauthorized** – Missing or invalid token
            
        - **500 Internal Server Error** – Unexpected server issue
            

        ---


        **Usage Notes:**


        - Both `pickUpPincode` and `deliveryPincode` must be **6 digits**.
            
        - `paymentType` accepts only `COD` or `Prepaid`.
            
        - Use this API before creating an order to validate **serviceability**
        between two locations.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                pickUpPincode: '400001'
                deliveryPincode: '110011'
                applicableWeight: 1.2
                length: 40
                width: 30
                height: 20
                paymentType: COD
                declaredValue: 1000
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjoiNjg3N2NkODE0YjEzMGIzZjI1YTY0NzExIiwiZW1haWwiOiJiaGFuamFiaWpheWtldGFuQGdtYWlsLmNvbSIsImZ1bGxuYW1lIjoiQmlqYXkga2V0YW4gQmhhbmphIiwia3ljIjp0cnVlLCJpc0FkbWluIjp0cnVlLCJpc0VtcGxveWVlIjpmYWxzZX0sImlhdCI6MTc2MjkyODM4NywiZXhwIjoxNzYzMDE0Nzg3fQ.P1psbs4GDGicjV-9UHTBgWFdE9jIQdMlmD2zpskYDy0
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.26.3
            Date:
              schema:
                type: string
                example: Mon, 25 Aug 2025 13:06:57 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '140'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri 'self';font-src 'self' https:
                  data:;form-action 'self';frame-ancestors 'self';img-src 'self'
                  data:;object-src 'none';script-src 'self';script-src-attr
                  'none';style-src 'self' https:
                  'unsafe-inline';upgrade-insecure-requests
            Cross-Origin-Opener-Policy:
              schema:
                type: string
                example: same-origin
            Cross-Origin-Resource-Policy:
              schema:
                type: string
                example: same-origin
            Origin-Agent-Cluster:
              schema:
                type: string
                example: '?1'
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: integer
                example: '0'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"8c-ufG9IBgCpl80DKH4kb9Jeu0cKjs"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
          content:
            text/plain:
              schema:
                type: string
              example: |-
                {
                    "status": "success",
                    "message": "Service available for these pincodes.",
                    "serviceable": true,
                    "pincodes": {
                        "pickup": "756036",
                        "delivery": "400001"
                    }
                }
  /v1/api/external/serviceableCourierServices/rate:
    post:
      tags:
        - default
      summary: Rate Calculation
      description: >-
        **Endpoint:**  

        `GET
        https://api.shipexindia.com/v1/api/external/serviceableCourierServices/rate`


        **Description:**  
          
        This API returns a list of **available courier partners with their
        calculated rates, GST, and final charges** for a given `orderId`. It
        helps merchants compare courier services and select the most
        cost-effective option.


        **Headers:**


        - `Content-Type: application/json`
            
        - `Authorization: Bearer`
            

          
        Success Response (200 OK):  
          
        {  

        "status": "success",  

        "message": "Rate calculation successful.",  

        "data": \[  

        {  

        "courierServiceName": "Dtdc Surface",  

        "courierId": "03",  

        "codCharges": 0,  

        "forward": {  

        "charges": 50,  

        "gst": 9,  

        "finalCharges": 59  

        },  

        "serviceable": true  

        },  

        {  

        "courierServiceName": "Bluedart Express",  

        "courierId": "04",  

        "codCharges": 0,  

        "forward": {  

        "charges": 59,  

        "gst": 10.62,  

        "finalCharges": 70  

        },  

        "serviceable": true  

        }  

        \]  

        }


        Failure Response (400 Bad Request):  
          
        {  

        "status": "failure",  

        "message": "Invalid orderId"  

        }
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\r\n  \"orderId\":\"820590\"\r\n}\r\n"'
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjoiNjg3N2NkODE0YjEzMGIzZjI1YTY0NzExIiwiZW1haWwiOiJiaGFuamFiaWpheWtldGFuQGdtYWlsLmNvbSIsImZ1bGxuYW1lIjoiQmlqYXkga2V0YW4gQmhhbmphIiwia3ljIjp0cnVlLCJpc0FkbWluIjp0cnVlLCJpc0VtcGxveWVlIjpmYWxzZX0sImlhdCI6MTc2MjQ5MTkwMywiZXhwIjoxNzYyNTc4MzAzfQ.Ry5C_6e_ACTLzT8aog1T-WsBltwt7Up8IRqPaRYp9nU
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.26.3
            Date:
              schema:
                type: string
                example: Mon, 25 Aug 2025 13:07:16 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri 'self';font-src 'self' https:
                  data:;form-action 'self';frame-ancestors 'self';img-src 'self'
                  data:;object-src 'none';script-src 'self';script-src-attr
                  'none';style-src 'self' https:
                  'unsafe-inline';upgrade-insecure-requests
            Cross-Origin-Opener-Policy:
              schema:
                type: string
                example: same-origin
            Cross-Origin-Resource-Policy:
              schema:
                type: string
                example: same-origin
            Origin-Agent-Cluster:
              schema:
                type: string
                example: '?1'
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: integer
                example: '0'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"9a6-/IrVOcz4w8UMsizJ7VDl0qQb8bs"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            Content-Encoding:
              schema:
                type: string
                example: br
          content:
            text/plain:
              schema:
                type: string
              example: |-
                {
                    "status": "success",
                    "message": "Rate calculation successful.",
                    "data": [
                        {
                            "courierServiceName": "Dtdc Surface",
                            "courierId": "03",
                            "codCharges": 0,
                            "forward": {
                                "charges": 50,
                                "gst": 9,
                                "finalCharges": 59
                            },
                            "serviceable": true
                        },
                        {
                            "courierServiceName": "Dtdc Surface 3KG",
                            "courierId": "03",
                            "codCharges": 0,
                            "forward": {
                                "charges": 101,
                                "gst": 18.18,
                                "finalCharges": 119
                            },
                            "serviceable": true
                        },
                        {
                            "courierServiceName": "Dtdc Surface 5KG",
                            "courierId": "03",
                            "codCharges": 0,
                            "forward": {
                                "charges": 194,
                                "gst": 34.92,
                                "finalCharges": 229
                            },
                            "serviceable": true
                        },
                        {
                            "courierServiceName": "Dtdc Surface 10KG",
                            "courierId": "03",
                            "codCharges": 0,
                            "forward": {
                                "charges": 388,
                                "gst": 69.84,
                                "finalCharges": 458
                            },
                            "serviceable": true
                        },
                        {
                            "courierServiceName": "Dtdc Air",
                            "courierId": "03",
                            "codCharges": 0,
                            "forward": {
                                "charges": 65,
                                "gst": 11.7,
                                "finalCharges": 77
                            },
                            "serviceable": true
                        },
                        {
                            "courierServiceName": "Delhivery Surface",
                            "courierId": "02",
                            "codCharges": 0,
                            "forward": {
                                "charges": 56,
                                "gst": 10.08,
                                "finalCharges": 66
                            },
                            "serviceable": true
                        },
                        {
                            "courierServiceName": "Delhivery Surface 1KG",
                            "courierId": "02",
                            "codCharges": 0,
                            "forward": {
                                "charges": 96,
                                "gst": 17.28,
                                "finalCharges": 113
                            },
                            "serviceable": true
                        },
                        {
                            "courierServiceName": "Delhivery Surface 2KG",
                            "courierId": "02",
                            "codCharges": 0,
                            "forward": {
                                "charges": 149,
                                "gst": 26.82,
                                "finalCharges": 176
                            },
                            "serviceable": true
                        },
                        {
                            "courierServiceName": "Delhivery Surface 5KG",
                            "courierId": "02",
                            "codCharges": 0,
                            "forward": {
                                "charges": 248,
                                "gst": 44.64,
                                "finalCharges": 293
                            },
                            "serviceable": true
                        },
                        {
                            "courierServiceName": "Delhivery Surface 10KG",
                            "courierId": "02",
                            "codCharges": 0,
                            "forward": {
                                "charges": 388,
                                "gst": 69.84,
                                "finalCharges": 458
                            },
                            "serviceable": true
                        },
                        {
                            "courierServiceName": "Amazon Shipping",
                            "courierId": "05",
                            "codCharges": 0,
                            "forward": {
                                "charges": 47,
                                "gst": 8.46,
                                "finalCharges": 55
                            },
                            "serviceable": true
                        },
                        {
                            "courierServiceName": "Amazon Shipping 1KG",
                            "courierId": "05",
                            "codCharges": 0,
                            "forward": {
                                "charges": 64,
                                "gst": 11.52,
                                "finalCharges": 76
                            },
                            "serviceable": true
                        },
                        {
                            "courierServiceName": "Amazon Shipping 2KG ",
                            "courierId": "05",
                            "codCharges": 0,
                            "forward": {
                                "charges": 98,
                                "gst": 17.64,
                                "finalCharges": 116
                            },
                            "serviceable": true
                        },
                        {
                            "courierServiceName": "Amazon Shipping 5KG",
                            "courierId": "05",
                            "codCharges": 0,
                            "forward": {
                                "charges": 200,
                                "gst": 36,
                                "finalCharges": 236
                            },
                            "serviceable": true
                        },
                        {
                            "courierServiceName": "Amazon Shipping 10KG",
                            "courierId": "05",
                            "codCharges": 0,
                            "forward": {
                                "charges": 270,
                                "gst": 48.6,
                                "finalCharges": 319
                            },
                            "serviceable": true
                        },
                        {
                            "courierServiceName": "Bluedart Express",
                            "courierId": "04",
                            "codCharges": 0,
                            "forward": {
                                "charges": 59,
                                "gst": 10.62,
                                "finalCharges": 70
                            },
                            "serviceable": true
                        }
                    ]
                }
  /v1/api/external/orderBooking:
    post:
      tags:
        - default
      summary: Create Shipment
      description: >-
        **Endpoint:**  

        `POST https://api.shipexindia.com/v1/api/external/orderBooking`


        **Description:**  
          
        This API is used to **book an order with a courier partner** after it
        has been created. It validates the order, checks available courier
        rates, ensures sufficient wallet balance, and then books the shipment
        with the selected courier.


        ---


        ### 🔑 Headers


        - `Content-Type: application/json`
            
        - `Authorization: Bearer`
            

          
          
        Success Response (200 OK):  
          
        {  

        "status": "success",  

        "message": "Order booked and shipment created successfully.",  

        "data": {  

        "orderId": "338586",  

        "courierServiceName": "Delhivery Surface",  

        "courierId": "02",  

        "awb_number": "DEL123456789",  

        "labelUrl":
        "[https://shipx.s3.amazonaws.com/labels/DEL123456789.pdf"](https://shipx.s3.amazonaws.com/labels/DEL123456789.pdf)  

        }  

        }


        ### Failure Responses


        **Invalid Request Data (400):**

          
          
        {  

        "status": "failure",  

        "message": "Invalid request data",  

        "errors": \[  

        "Order ID is required",  

        "Courier Service Name is required"  

        \]  

        }


        Order Not Found (404):  
          
        {  

        "status": "failure",  

        "message": "Order with ID 338586 not found."  

        }StartFragmentUnexpected Error (500):EndFragment  
          
        {  

        "status": "failure",  

        "message": "Unexpected server error while booking order. Please try
        again."  

        }


        - Must pass a valid `orderId` from **Create Order API**.
            
        - Courier details (`courierServiceName` and `courierId`) must match
        those returned by the **Serviceable Courier Services with Rate API**.
            
        - Wallet balance must be **greater than or equal to final shipping
        charges**.
            
        - Returns AWB number and shipping label URL on success.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                orderId: '820590'
                courierServiceName: Amazon Surface 1KG
                courierId: '05'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjoiNjg3N2NkODE0YjEzMGIzZjI1YTY0NzExIiwiZW1haWwiOiJiaGFuamFiaWpheWtldGFuQGdtYWlsLmNvbSIsImZ1bGxuYW1lIjoiQmlqYXkga2V0YW4gQmhhbmphIiwia3ljIjp0cnVlLCJpc0FkbWluIjp0cnVlLCJpc0VtcGxveWVlIjpmYWxzZX0sImlhdCI6MTc2MjQ5MTkwMywiZXhwIjoxNzYyNTc4MzAzfQ.Ry5C_6e_ACTLzT8aog1T-WsBltwt7Up8IRqPaRYp9nU
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.26.3
            Date:
              schema:
                type: string
                example: Mon, 25 Aug 2025 13:08:25 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '204'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri 'self';font-src 'self' https:
                  data:;form-action 'self';frame-ancestors 'self';img-src 'self'
                  data:;object-src 'none';script-src 'self';script-src-attr
                  'none';style-src 'self' https:
                  'unsafe-inline';upgrade-insecure-requests
            Cross-Origin-Opener-Policy:
              schema:
                type: string
                example: same-origin
            Cross-Origin-Resource-Policy:
              schema:
                type: string
                example: same-origin
            Origin-Agent-Cluster:
              schema:
                type: string
                example: '?1'
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: integer
                example: '0'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"cc-OSCSeQRrMt8NKDCe55nXPhTF9SM"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
          content:
            text/plain:
              schema:
                type: string
              example: |-
                {
                    "status": "success",
                    "message": "Order booked and shipment created successfully.",
                    "data": {
                        "orderId": "338586",
                        "courierServiceName": "Dtdc Surface",
                        "courierId": "03",
                        "awb_number": "7D113288136",
                        "labelUrl": null
                    }
                }
  /v1/api/external/cancelledOrder/364951482125:
    post:
      tags:
        - default
      summary: Cancel Order
      description: >-
        **Endpoint:**  

        `POST
        https://api.shipexindia.com/v1/api/external/cancelledOrder/:awb_number`


        **Description:**  
          
        This API is used to **cancel a booked order shipment** using its **AWB
        number**. On successful cancellation, the order status is updated and
        freight charges (if any) are refunded back to the user’s wallet.


        ---


        ### 🔑 Headers


        - `Content-Type: application/json`
            
        - `Authorization: Bearer`
            

        **Example:**  

        `https://api.shipexindia.com/v1/api/external/cancelledOrder/7D113288118`


        ---


        ### Request Body


        None  

        Success Response (200 OK):  

        {  

        "success": true,  

        "message": "Order cancelled successfully"  

        }


        Failure Responses  

        Missing AWB Number (400):  

        {  

        "error": "AWB number is required in params"  

        }


        Order Not Found (404):  

        {  

        "error": "Order with AWB number 7D113288118 not found."  

        }


        **Internal Server Error (500):**


        {  

        "error": "An internal error occurred while cancelling the order."  

        }


        ### Notes


        - Only orders with status **"Ready To Ship"** can be cancelled.
            
        - Orders with status `"Cancelled"` or `"new"` **cannot** be cancelled
        again.
            
        - On successful cancellation:
            
            - Order status is updated.
                
            - Wallet is credited back with freight charges (if applicable).
                
            - Tracking history is updated with a `"Cancelled"` status.
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '""'
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjoiNjg3N2NkODE0YjEzMGIzZjI1YTY0NzExIiwiZW1haWwiOiJiaGFuamFiaWpheWtldGFuQGdtYWlsLmNvbSIsImZ1bGxuYW1lIjoiQmlqYXkga2V0YW4gQmhhbmphIiwia3ljIjp0cnVlLCJpc0FkbWluIjp0cnVlLCJpc0VtcGxveWVlIjpmYWxzZX0sImlhdCI6MTc2MjQ5MTkwMywiZXhwIjoxNzYyNTc4MzAzfQ.Ry5C_6e_ACTLzT8aog1T-WsBltwt7Up8IRqPaRYp9nU
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.26.3
            Date:
              schema:
                type: string
                example: Mon, 25 Aug 2025 13:11:02 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '57'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri 'self';font-src 'self' https:
                  data:;form-action 'self';frame-ancestors 'self';img-src 'self'
                  data:;object-src 'none';script-src 'self';script-src-attr
                  'none';style-src 'self' https:
                  'unsafe-inline';upgrade-insecure-requests
            Cross-Origin-Opener-Policy:
              schema:
                type: string
                example: same-origin
            Cross-Origin-Resource-Policy:
              schema:
                type: string
                example: same-origin
            Origin-Agent-Cluster:
              schema:
                type: string
                example: '?1'
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: integer
                example: '0'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"39-E16ddvkR/k3D6bIZq+QkAldDa5Y"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
          content:
            text/plain:
              schema:
                type: string
              example: |-
                {
                    "success": true,
                    "message": "Order cancelled successfully"
                }
  /v1/api/external/trackOrder:
    post:
      tags:
        - default
      summary: Tracking
      description: >-
        **Endpoint:**  

        `GET https://api.shipexindia.com/v1/api/external/trackOrder/:awb_number`


        **Description:**  
          
        This API allows users to **track their shipment** using an **AWB
        number**. It returns the current order details and the complete tracking
        history.


        ---


        ### 🔑 Headers


        - `Content-Type: application/json`
            
        - `Authorization: Bearer`  
              
            **Example:**  
            `https://api.shipexindia.com/v1/api/external/trackOrder/I75009044`  
              
            Success Response (200 OK)  
              
            {  
            "success": true,  
            "data": {  
            "awb_number": "I75009044",  
            "orderId": "338586",  
            "status": "In Transit",  
            "courierServiceName": "Delhivery Surface",  
            "tracking": \[  
            {  
            "status": "Order Booked",  
            "location": "Mumbai",  
            "dateTime": "2025-08-23T10:15:00Z",  
            "instructions": "Shipment created"  
            },  
            {  
            "status": "Dispatched",  
            "location": "Mumbai Hub",  
            "dateTime": "2025-08-23T18:30:00Z",  
            "instructions": "Left origin facility"  
            },  
            {  
            "status": "In Transit",  
            "location": "Delhi",  
            "dateTime": "2025-08-24T12:10:00Z",  
            "instructions": "Arrived at destination hub"  
            }  
            \]  
            }  
            }
            

        Failure Responses  

        Order Not Found or Unauthorized (404):  
          
        {  

        "success": false,  

        "message": "Order not found or you don't have access to this order"  

        }


        Internal Server Error (500):  
          
        {  

        "success": false,  

        "message": "Internal server error"  

        }


        Notes


        - API ensures that **only the owner of the order** (based on `userId`)
        can track it.
            
        - Tracking data includes:
            
            - `status` → Current shipment state
                
            - `location` → Facility/City where the scan happened
                
            - `dateTime` → Event timestamp
                
            - `instructions` → Courier remarks
                
        - If no tracking events exist, `"tracking": []` will be returned.
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\r\n  \"userId\": \"00000\",\r\n  \"awb\":
                \"SHIP40000000265\"\r\n}\r\n"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.26.3
            Date:
              schema:
                type: string
                example: Fri, 14 Nov 2025 11:00:01 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '474'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri 'self';font-src 'self' https:
                  data:;form-action 'self';frame-ancestors 'self';img-src 'self'
                  data:;object-src 'none';script-src 'self';script-src-attr
                  'none';style-src 'self' https:
                  'unsafe-inline';upgrade-insecure-requests
            Cross-Origin-Opener-Policy:
              schema:
                type: string
                example: same-origin
            Cross-Origin-Resource-Policy:
              schema:
                type: string
                example: same-origin
            Origin-Agent-Cluster:
              schema:
                type: string
                example: '?1'
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: integer
                example: '0'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"1da-0e29iuoHWpjvhibuC7BMrn9KUuU"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
          content:
            text/plain:
              schema:
                type: string
              example: |-
                {
                    "success": true,
                    "data": {
                        "awb_number": "SHIP40000000265",
                        "orderId": 355925,
                        "status": "Ready To Ship",
                        "courierServiceName": "Shree Maruti Surface 0.5KG",
                        "tracking": [
                            {
                                "status": "ORDER_CONFIRMED",
                                "location": "Bangalore",
                                "dateTime": "2025-11-01T14:35:30.091Z",
                                "instructions": "Order Has been Confirmed"
                            },
                            {
                                "status": "READY_FOR_DISPATCH",
                                "location": "Bagurukhi, , 560076, Bangalore, KARNATAKA, India",
                                "dateTime": "2025-11-01T14:35:32.884Z",
                                "instructions": "Order is ready to be dispatched"
                            }
                        ]
                    }
                }
  /v1/api/external/exceptionList:
    get:
      tags:
        - default
      summary: NDR List
      description: >-
        **Endpoint:**  

        `GET https://api.shipexindia.com/v1/api/external/exceptionList`


        **Description:**  
          
        This API retrieves the list of **undelivered (exception) orders** for a
        given user.  
          
        It includes orders stuck in **NDR (Non-Delivery Report)** status with
        details like reason, remarks, and attempt history.


        ---


        ### 🔑 Headers


        - `Content-Type: application/json`
            
        - `Authorization: Bearer`
            

          
        Success Response (200 OK)  
          
        {  

        "success": true,  

        "count": 2,  

        "data": \[  

        {  

        "awb_number": "I75009044",  

        "courier": "Delhivery",  

        "date": "2025-08-23T10:15:00Z",  

        "remark": "Customer not available",  

        "attemptCount": 2  

        },  

        {  

        "awb_number": "D75001123",  

        "courier": "DTDC",  

        "date": "2025-08-22T15:45:00Z",  

        "remark": "Incorrect address",  

        "attemptCount": 1  

        }  

        \]  

        }


        ### Failure Responses


        **No Exceptions Found (404):**  
          
        {  

        "success": false,  

        "message": "No exception found for this user"  

        }


        Internal Server Error (500):  
          
        {  

        "success": false,  

        "message": "Internal server error"  

        }


        ### Notes


        - Only orders with **status = "Undelivered"** are considered exceptions.
            
        - Response fields:
            
            - `awb_number` → Shipment AWB number
                
            - `courier` → Courier partner handling the order
                
            - `date` → Date of last NDR remark
                
            - `remark` → Reason for non-delivery (e.g., _Customer not available, Wrong address_)
                
            - `attemptCount` → Number of reattempts in `ndrHistory`
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjoiNjg3N2NkODE0YjEzMGIzZjI1YTY0NzExIiwiZW1haWwiOiJiaGFuamFiaWpheWtldGFuQGdtYWlsLmNvbSIsImZ1bGxuYW1lIjoiQmlqYXkga2V0YW4gQmhhbmphIiwia3ljIjp0cnVlLCJpc0FkbWluIjp0cnVlLCJpc0VtcGxveWVlIjpmYWxzZX0sImlhdCI6MTc1NjEyNzEwMCwiZXhwIjoxNzU2MjEzNTAwfQ.fovnJmjWqo_toz-T7ft0AYgdhOwMmKiKB7Eg9oRM7yo
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.26.3
            Date:
              schema:
                type: string
                example: Mon, 25 Aug 2025 13:18:42 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '180'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri 'self';font-src 'self' https:
                  data:;form-action 'self';frame-ancestors 'self';img-src 'self'
                  data:;object-src 'none';script-src 'self';script-src-attr
                  'none';style-src 'self' https:
                  'unsafe-inline';upgrade-insecure-requests
            Cross-Origin-Opener-Policy:
              schema:
                type: string
                example: same-origin
            Cross-Origin-Resource-Policy:
              schema:
                type: string
                example: same-origin
            Origin-Agent-Cluster:
              schema:
                type: string
                example: '?1'
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: integer
                example: '0'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"b4-JqjTKi5uov7T5BU8wCXB2rPQ6N8"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
          content:
            text/plain:
              schema:
                type: string
              example: |-
                {
                    "success": true,
                    "count": 2,
                    "data": [
                        {
                            "awb_number": "7D113288136",
                            "date": null,
                            "remark": null,
                            "attemptCount": 0
                        },
                        {
                            "awb_number": "362532727115",
                            "date": null,
                            "remark": null,
                            "attemptCount": 0
                        }
                    ]
                }
  /v1/api/external/ndr/create:
    post:
      tags:
        - default
      summary: Create NDR
      description: >-
        **Endpoint:**  

        `POST https://api.shipexindia.com/v1/api/external/ndr/create`


        **Description:**  
          
        This API allows the client to create an **NDR (Non-Delivery Report) /
        Exception request** for an undelivered shipment.  
          
        The request can trigger either a **Reattempt delivery** or an **RTO
        (Return to Origin)** action, depending on the courier.


        ---


        ### 🔑 Headers


        - `Content-Type: application/json`
            
        - `Authorization: Bearer`
            

          
          
        Success Response (200 OK)  
          
        {  

        "success": true,  

        "message": "NDR request processed successfully",  

        "data": {  

        "awb_number": "I75009044",  

        "action": "RE-ATTEMPT",  

        "courierId": "02",  

        "status": "Accepted"  

        }  

        }


        ### Failure Responses


        **Missing Required Fields (400):**  
          
        {  

        "success": false,  

        "message": "courierId and awb_number are required"  

        }


        Invalid Action (400):  
          
        {  

        "success": false,  

        "message": "Invalid action. Allowed values are 'RE-ATTEMPT' or 'RTO'."  

        }


        Order Not Found (404):  
          
        {  

        "success": false,  

        "message": "No pending delivery found for the provided AWB number.
        Reattempt or RTO cannot be initiated."  

        }


        Internal Server Error (500):  

        {  

        "success": false,  

        "message": "Internal server error while processing NDR"  

        }


        Notes


        - **Allowed actions:** `RE-ATTEMPT` (retry delivery) or `RTO` (return to
        origin).
            
        - Ensure order status is `"Undelivered"` before initiating NDR.
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\r\n  \"courierId\": \"05\",\r\n  \"awb_number\":
                \"AMZ1234567890\",\r\n  \"action\":
                \"RE-ATTEMPT\",//[\"RE-ATTEMPT\",\"RTO\"]\r\n  \"comments\":
                \"Customer asked to reattempt on next business day\",\r\n 
                \"scheduled_delivery_date\": \"2025-08-25\",\r\n 
                \"next_attempt_date\": \"2025-08-25\",\r\n  \"phone\":
                \"9876543210\"\r\n}\r\n\r\n"
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjoiNjg3N2NkODE0YjEzMGIzZjI1YTY0NzExIiwiZW1haWwiOiJiaGFuamFiaWpheWtldGFuQGdtYWlsLmNvbSIsImZ1bGxuYW1lIjoiQmlqYXkga2V0YW4gQmhhbmphIiwia3ljIjp0cnVlLCJpc0FkbWluIjp0cnVlLCJpc0VtcGxveWVlIjpmYWxzZX0sImlhdCI6MTc1NTg0NDM0MCwiZXhwIjoxNzU1OTMwNzQwfQ.HWQvTV4Q9TK_q8yBKOYedy5WwuiTso6GQCqSchIuY0o
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v1/api/external/createPickupAddress:
    post:
      tags:
        - default
      summary: WareHouse Creation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                contactName: INVENTAA LED LIGHTS PRIVATE LIMITED
                email: inventaaecomstore@gmail.com
                phoneNumber: '8939066644'
                address: No.7A, Leo Complex Road, Pallikaranai
                pinCode: '600100'
                city: Kanchipuram
                state: TAMIL NADU
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjoiNjg3N2NkODE0YjEzMGIzZjI1YTY0NzExIiwiZW1haWwiOiJiaGFuamFiaWpheWtldGFuQGdtYWlsLmNvbSIsImZ1bGxuYW1lIjoiQmlqYXkga2V0YW4gQmhhbmphIiwia3ljIjp0cnVlLCJpc0FkbWluIjp0cnVlLCJpc0VtcGxveWVlIjpmYWxzZX0sImlhdCI6MTc2MzExNTQzNiwiZXhwIjoxNzYzMjAxODM2fQ.WlYokaMMCEsucT8tzuhqSySYov8pEv1Wq0VtXsK3Kq8
      responses:
        '409':
          description: Conflict
          headers:
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri 'self';font-src 'self' https:
                  data:;form-action 'self';frame-ancestors 'self';img-src 'self'
                  data:;object-src 'none';script-src 'self';script-src-attr
                  'none';style-src 'self' https:
                  'unsafe-inline';upgrade-insecure-requests
            Cross-Origin-Opener-Policy:
              schema:
                type: string
                example: same-origin
            Cross-Origin-Resource-Policy:
              schema:
                type: string
                example: same-origin
            Origin-Agent-Cluster:
              schema:
                type: string
                example: '?1'
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: integer
                example: '0'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '143'
            ETag:
              schema:
                type: string
                example: W/"8f-8h4GSrDs2Lbw98m2Us2/4IhAu+4"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            Date:
              schema:
                type: string
                example: Fri, 14 Nov 2025 10:19:06 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            text/plain:
              schema:
                type: string
              example: |-
                {
                    "success": false,
                    "code": 409,
                    "message": "Duplicate address detected. This pickup address already exists.",
                    "timestamp": "2025-11-14T10:19:06.649Z"
                }
  /v1/api/external/generateLabel/SHIP40000000265:
    get:
      tags:
        - default
      summary: Generate Label
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjoiNjg3N2NkODE0YjEzMGIzZjI1YTY0NzExIiwiZW1haWwiOiJiaGFuamFiaWpheWtldGFuQGdtYWlsLmNvbSIsImZ1bGxuYW1lIjoiQmlqYXkga2V0YW4gQmhhbmphIiwia3ljIjp0cnVlLCJpc0FkbWluIjp0cnVlLCJpc0VtcGxveWVlIjpmYWxzZX0sImlhdCI6MTc2MzExNTQzNiwiZXhwIjoxNzYzMjAxODM2fQ.WlYokaMMCEsucT8tzuhqSySYov8pEv1Wq0VtXsK3Kq8
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.26.3
            Date:
              schema:
                type: string
                example: Fri, 14 Nov 2025 10:17:43 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '140'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri 'self';font-src 'self' https:
                  data:;form-action 'self';frame-ancestors 'self';img-src 'self'
                  data:;object-src 'none';script-src 'self';script-src-attr
                  'none';style-src 'self' https:
                  'unsafe-inline';upgrade-insecure-requests
            Cross-Origin-Opener-Policy:
              schema:
                type: string
                example: same-origin
            Cross-Origin-Resource-Policy:
              schema:
                type: string
                example: same-origin
            Origin-Agent-Cluster:
              schema:
                type: string
                example: '?1'
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: integer
                example: '0'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"8c-3VrUH4yhtwUgzd7WE28idsKOgK4"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
          content:
            text/plain:
              schema:
                type: string
              example: |-
                {
                    "success": true,
                    "message": "Label already exists",
                    "label": "https://shipex-india.s3.ap-south-1.amazonaws.com/labels/1762768351604_355925.pdf"
                }
  /v1/api/external/generateManifest:
    post:
      tags:
        - default
      summary: Generate Manifest
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                awbs:
                  - 7X105009808
                  - '166031660382'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: >-
            Bearer
            eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjoiNjg3N2NkODE0YjEzMGIzZjI1YTY0NzExIiwiZW1haWwiOiJiaGFuamFiaWpheWtldGFuQGdtYWlsLmNvbSIsImZ1bGxuYW1lIjoiQmlqYXkga2V0YW4gQmhhbmphIiwia3ljIjp0cnVlLCJpc0FkbWluIjp0cnVlLCJpc0VtcGxveWVlIjpmYWxzZX0sImlhdCI6MTc2MzExNTQzNiwiZXhwIjoxNzYzMjAxODM2fQ.WlYokaMMCEsucT8tzuhqSySYov8pEv1Wq0VtXsK3Kq8
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.26.3
            Date:
              schema:
                type: string
                example: Fri, 14 Nov 2025 10:18:19 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '648'
            Connection:
              schema:
                type: string
                example: keep-alive
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  default-src 'self';base-uri 'self';font-src 'self' https:
                  data:;form-action 'self';frame-ancestors 'self';img-src 'self'
                  data:;object-src 'none';script-src 'self';script-src-attr
                  'none';style-src 'self' https:
                  'unsafe-inline';upgrade-insecure-requests
            Cross-Origin-Opener-Policy:
              schema:
                type: string
                example: same-origin
            Cross-Origin-Resource-Policy:
              schema:
                type: string
                example: same-origin
            Origin-Agent-Cluster:
              schema:
                type: string
                example: '?1'
            Referrer-Policy:
              schema:
                type: string
                example: no-referrer
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Permitted-Cross-Domain-Policies:
              schema:
                type: string
                example: none
            X-XSS-Protection:
              schema:
                type: integer
                example: '0'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"288-rG+Sfv6Ba54oJEzDponB9xW6kfc"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
          content:
            text/plain:
              schema:
                type: string
              example: |-
                {
                    "success": true,
                    "message": "Manifest generation complete",
                    "results": [
                        {
                            "awb": "166031660382",
                            "manifest": "https://shipex-india.s3.ap-south-1.amazonaws.com/manifests/166031660382_1762947782941.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIA6ELKN7GRYM2DXCXW%2F20251112%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20251112T114303Z&X-Amz-Expires=604800&X-Amz-Signature=9772e65cc614d9024114e29aed940dfe620ee52c31b7ef613c0d5c10ae8387e7&X-Amz-SignedHeaders=host&x-amz-checksum-mode=ENABLED&x-id=GetObject",
                            "message": "Manifest already exists"
                        },
                        {
                            "awb": "7X105009808",
                            "message": "Order not found or unauthorized"
                        }
                    ]
                }